{% extends 'components/base.html' %}
{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}
<div class="text-area">
    <h3 class="title">{% trans 'New password' %}</h3>
    {{ form.non_field_errors }}
    {% for field in form %}
    {{ field.errors.as_text }}
    {% endfor %}
</div>
<form method="POST" class="recover-pass">
    {% csrf_token %}
    <h6 class="text-input-label">{% trans 'New password' %}:</h6>
    <input type="password" name="new_password1" required id="id_new_password1">
    <h6 class="text-input-label">{% trans 'Confirm password:' %}</h6>
    <input type="password" name="new_password2" required id="id_new_password2">
    <button class="button">{% trans 'Set password' %}</button>
</form>
{% endblock %}