{% extends 'components/base.html' %}
{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}
  <h3 class="title">{% trans 'New password' %}</h3>
    {% for field in form %}
    <div class="form-error-container">
      {{ field.errors }}
    </div>
    {% endfor %}
<form method="POST" class="recover-pass">
    {% csrf_token %}
    <h6 class="text-input-label">{% trans 'New password' %}:</h6>
    <input type="password" name="new_password1" required id="id_new_password1">
    <h6 class="text-input-label">{% trans 'Confirm password:' %}</h6>
    <input type="password" name="new_password2" required id="id_new_password2">
    <button class="button">{% trans 'Set password' %}</button>
</form>
{% endblock %}
