
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
</head>

<body>
  <div class="grid">
    <div class="content">
      <asside class="space-left"></asside>
      <div class="center">
        <div class="estudio-logo">
          <img src="estudio-logo.svg"/>
        </div>
        <section class="middle">
          <div class="text-area">
            <h3 class="title">Restaurar senha</h3>
            <div class="explanatory-text">Enviamos um e-mail com um link para redefinir sua senha. Verifique seu e-mail e clique no link para continuar.</div>
          </div>
        </section>
        <div class="camara-logo">
          <img src="camara-logo.svg"/>
        </div>
      </div>
    </div>
    <asside class="sidebar"></asside>
  </div>
</body>

</html>
